 /*alles*/
      *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

head {
    text-align: center;
    padding-top: 0;

}

input, textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}
/*die ganze seite*/
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #383838;
    position: fixed;
}
/*navigationsleiste unten*/
#navigation {
    height: 45px; /* Mindesthöhe des Footers, die du anpassen kannst */
    position: fixed; /* Fixiert das Menü am unteren Rand */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #383838; /* Hintergrundfarbe */
    display: flex; /* Flexbox für die Anordnung */
    justify-content: space-around; /* Gleiche Abstände zwischen den Links */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Schatten für den Effekt */
    z-index: 1000; /* Damit das Menü über anderen Elementen bleibt */
    transition: opacity 0.2s ease; /* Übergang für das Ein- und Ausblenden */
}
/*anpassung der Links in der navigationsleiste*/
#navigation a {
    text-decoration: none; /* Entfernt Unterstreichung */
    flex: 1; /* Macht jedes Link gleich breit */
    display: flex; /* Flexbox für die Bildzentrierung */
    justify-content: center; /* Zentriert die Bilder innerhalb der Links */
    align-items: center; /* Vertikale Zentrierung der Bilder */
}
/*anpassung der icons in der navigationsleiste*/
#navigation img {
    width: 35px; /* Breite der Icons */
    height: 35px; /* Höhe der Icons */
    transition: transform 0.2s; /* Sanfte Animation beim Hover */
}
/*vergrößerung beim hover über den icons der navigationsleiste*/
#navigation img:hover {
    transform: scale(1.1); /* Vergrößerung beim Hover */
}
/*anpassung des containers der suchleiste*/
.search-container {
    display: flex; /* Flexbox für Anordnung */
    text-align: center;
    margin: 20px; /* Abstand um die Suchleiste */
    text-align: center;
}
/*anpassung der suchleiste*/
.search-input {
    width: 50vw; /* Breite der Suchleiste */
    padding: 10px; /* Innenabstand */
    border: 2px solid white; /* Randfarbe */
    border-radius: 10px 10px 10px 10px; /* Abgerundete Ecken */
    outline: none; /* Entfernt den Standard-Rahmen */
    font-size: 16px; /* Schriftgröße */
    transition: border-color 0.3s; /* Sanfte Randfarbe beim Hover */
    text-align: center;
    color: white;
    background-color: #383838;
    margin-top: 2vh;
}
/*anpassung der suchleiste im angeklickten modus*/
.search-input:focus {
    border-color: #0056b3; /* Farbänderung beim Fokussieren */
}

/*anpassung der container für registrierung und anzeigenerstellung*/
.registration, .anzeigenerstellung {
    display: flex;
    font-size: 16px; /* Schriftgröße */
    transition: border-color 0.3s; /* Sanfte Randfarbe beim Hover */
    text-align: center;
    width: 50vw;
    border-radius: 10px 10px 10px 10px; /* Abgerundete Ecken */
    color: white;
    position: fixed;
    top: 20vh;
    left: 20vw;
}
/*anpassung der form elemente der registrierung und anzeigenerstellung*/
.registration form, .anzeigenerstellung form {
    border: 2px solid #ffffff;
    border-radius: 20px 20px 20px 20px; /* Abgerundete Ecken */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    color: white;
}
/*anpassen der input elemente und textareas der anzeigenerstellung und registrierung*/
.registration input, .anzeigenerstellung input, .anzeigenerstellung textarea {
    border: 2px solid white;
    font-size: 16px;
    border-radius: 10px 10px 10px 10px; /* Abgerundete Ecken */
    background-color: #383838;
    color: white;
    padding: 5px;
    transition: border-color 0.3s;
}

input[type="file"] {
  width: 50vw;
}
/*anpassung des designs der input elemente bei anklicken*/
 input:focus {
  border-color:  #0056b3; /* Farbänderung beim Fokussieren */
  outline: none;
}
/*margin für button auf registrieren seite*/
#registrieren {
  margin-top: 3vh;
}
/*damit text der agb und checkbox in einer zeile sind*/
.inline {
  display: inline-block
}
/*damit link der agb besser aussieht*/
.inline a {
  margin-top: 1vh;
  color: violet;

}
/*anpassung des swipe containers*/
#swiper {
    height: 65vh;
    aspect-ratio: 2 / 3;
    perspective: 100px;
    perspective-origin: center 100%;
    transform-style: preserve-3d;
    position: fixed;
    display: flex;
    justify-content: space-around;
  }
  /*anpassung der karten*/
  .card {
    width: 100%;
    height: 100%;
    position: fixed;
    border-radius: 20px;
    overflow: hidden;
    transform: translateZ(calc(-3px * var(--i))) translateY(calc(-20px * var(--i))) rotate(calc(-4deg * var(--i)));
    filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    user-select: none;
    transition: transform 0.5s;
    top: 7vh;
    right: 3vw;
    bottom:7vh;
    left: 3vw;
    display: flex;
    justify-content: space-around;
  }
  /*anpassung der bilder der karten*/
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  #like,
  #dislike,
  #like2,
  #dislike2 {
    animation-name: animation1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    /* don't run animation at the beginning */
    animation-play-state: paused;
  }
  
  #like.trigger,
  #dislike.trigger {
    animation-name: animation2;
  }

  #ui_menubar {
    font-size: 15vw;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 75px;
    width: 100%;
  }

  #ui_four_page {
    font-size: 15vw;
    justify-content: space-around;
    position: fixed;
    /*Needed to change!*/transition: opacity 0.2s ease; /* Übergang für das Ein- und Ausblenden */
  }

  #like2 {
    position: fixed; /* Um das Element relativ zum Viewport zu positionieren */
    top: 50%; /* Setzt das Element in die Mitte des Bildschirms */
    right: 0;
    transform: translateY(-50%);
  }

  #dislike2 {
    position: fixed; /* Um das Element relativ zum Viewport zu positionieren */
    top: 50%; /* Setzt das Element in die Mitte des Bildschirms */
    left: 0;
    transform: translateY(-50%);
  }

  #undo2 {
    position: fixed; /* Fixiert das Element relativ zum Viewport */
    top: 5px; /* Fügt Abstand von 50px vom oberen Rand hinzu */
    left: 50%; /* Positioniert das Element in der Mitte des Viewports */
    transform: translateX(-50%); /* Verschiebt das Element horizontal um die Hälfte seiner Breite, um es mittig zu zentrieren */
  }

  #message2 {
    position: fixed; /* Fixiert das Element relativ zum Viewport */
    bottom: 10px; /* Fügt Abstand von 50px vom oberen Rand hinzu */
    left: 50%; /* Positioniert das Element in der Mitte des Viewports */
    transform: translateX(-50%); /* Verschiebt das Element horizontal um die Hälfte seiner Breite, um es mittig zu zentrieren */
  }
  
  /*anpassung der icons*/
  #like,
  #dislike,
  #like2,
  #dislike2 {
    animation-name: animation1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    /* don't run animation at the beginning */
    animation-play-state: paused;
  }
  /*animationen den angetippten icons zugewiesen*/
  #like.trigger,
  #dislike.trigger {
    animation-name: animation2;
  }
  /*anpassung für den container, in dem sich alle vier icons befinden*/
  .ui {
    font-size: 15vw;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 75px;
    width: 100%;
  }
/*für das herz/like icon*/
  #like {
    color: greenyellow;
  }
  /*für das kreuz/dislike icon*/
  #dislike {
    color: red;
  }
  /*für das rückgängig icon*/
  #undo {
    color: black;
  }
/*für das nachrichten icon*/
#message {
  color: lightblue;
}
/*animation für das like und dislike icon*/
  @keyframes animation1 {
  
    0%,
    100% {
      opacity: 0.75;
    }
  
    50% {
      opacity: 1;
    }
  }
  /*animation für das like und dislike icon*/
  @keyframes animation2 {
  
    0%,
    100% {
      opacity: 0.75;
    }
  
    50% {
      opacity: 1;
    }
  }
/*für die großen symbole/icons auf den leeren seiten*/
  .symbol{
    display: flex;
    justify-content: center;
    margin-top: 30vh;
  }
/*für die bilder der großen icons auf den leeren seiteb*/
  .symbol img {
    height: auto;
    width: 40vw;
    opacity: 0.5;
    margin-bottom: 30px;
  }
/*für die beschreibung unter den großen icons auf den leeren seiten*/
  .description {
    text-align: center;
    opacity: 0.5;
    color: white;
  }
/*für die überschriften auf den seiten*/
  .heading {
    margin-left: 5px;
    display: flex;
    align-content: flex-start;
    opacity: 0.85;
    text-align: center;
    color: white;
  }
/*für den text der überschriften auf den seiten*/
  .heading h1 {
    font-size: 28px;
  }
