* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

head {
    text-align: center;
    padding-top: 0;

}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #383838;
    position: fixed;
}

#navigation {
    height: 45px; /* Mindesthöhe des Footers, die du anpassen kannst */
    position: fixed; /* Fixiert das Menü am unteren Rand */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: 383838; /* Hintergrundfarbe */
    display: flex; /* Flexbox für die Anordnung */
    justify-content: space-around; /* Gleiche Abstände zwischen den Links */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Schatten für den Effekt */
    z-index: 1000; /* Damit das Menü über anderen Elementen bleibt */
}

#navigation a {
    text-decoration: none; /* Entfernt Unterstreichung */
    flex: 1; /* Macht jedes Link gleich breit */
    display: flex; /* Flexbox für die Bildzentrierung */
    justify-content: center; /* Zentriert die Bilder innerhalb der Links */
    align-items: center; /* Vertikale Zentrierung der Bilder */
}

#navigation img {
    width: 35px; /* Breite der Icons */
    height: 35px; /* Höhe der Icons */
    transition: transform 0.2s; /* Sanfte Animation beim Hover */
}

#navigation img:hover {
    transform: scale(1.1); /* Vergrößerung beim Hover */
}

.search-container {
    display: flex; /* Flexbox für Anordnung */
    text-align: center;
    margin: 20px; /* Abstand um die Suchleiste */
    text-align: center;
}

.search-input {
    width: 50vw; /* Breite der Suchleiste */
    padding: 10px; /* Innenabstand */
    border: 2px solid white; /* Randfarbe */
    border-radius: 10px 10px 10px 10px; /* Abgerundete Ecken */
    outline: none; /* Entfernt den Standard-Rahmen */
    font-size: 16px; /* Schriftgröße */
    transition: border-color 0.3s; /* Sanfte Randfarbe beim Hover */
    text-align: center;
    color: white;
    background-color: #383838;

}

.search-input:focus {
    border-color: #0056b3; /* Farbänderung beim Fokussieren */
}

.registration {
    display: flex;
    font-size: 16px; /* Schriftgröße */
    transition: border-color 0.3s; /* Sanfte Randfarbe beim Hover */
    text-align: center;
    width: 50vw;
    padding: 10px;
    border-radius: 10px 10px 10px 10px; /* Abgerundete Ecken */
    margin-top: 8vh;
    margin-left: 15vw;
    color: white;
}

.registration form {
    border: 2px solid #ffffff;
    border-radius: 20px 20px 20px 20px; /* Abgerundete Ecken */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    color: white;
}

.registration input {
    border: 2px solid white;
    font-size: 16px;
    border-radius: 10px 10px 10px 10px; /* Abgerundete Ecken */
    background-color: #383838;
    color: white;
    padding: 5px;
}

.registration button {
    background-color: white;
    border: 2px solid #ffffff;
}

.inline {
  display: inline-block
}

.inline a {
  margin-top: 1vh;
  color: violet;

}

#swiper {
    height: 65vh;
    aspect-ratio: 2 / 3;
    perspective: 100px;
    perspective-origin: center 100%;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
  }
  
  .card {
    width: 100%;
    height: 100%;
    position: fixed;
    border-radius: 20px;
    overflow: hidden;
    transform: translateZ(calc(-3px * var(--i))) translateY(calc(-20px * var(--i))) rotate(calc(-4deg * var(--i)));
    filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    user-select: none;
    transition: transform 0.5s;
    top: 7vh;
    right: 3vw;
    bottom:7vh;
    left: 3vw;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  #like,
  #dislike {
    font-size: 8vh;
    border-radius: 50%;
    padding: 20px;
    z-index: 1;
    animation-name: animation1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    /* don't run animation at the beginning */
    animation-play-state: paused;
    transform: translateY(-50%); /* Vertikales Zentrieren */
  }
  
  #like.trigger,
  #dislike.trigger {
    animation-name: animation2;
  }
  
  #like {
    color: greenyellow;
  }
  
  #dislike {
    color: red;
  }
  
  @keyframes animation1 {
  
    0%,
    100% {
      opacity: 0.5;
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes animation2 {
  
    0%,
    100% {
      opacity: 0.5;
    }
  
    50% {
      opacity: 1;
    }
  }

  .symbol{
    display: flex;
    justify-content: center;
    margin-top: 30vh;
  }

  .symbol img {
    height: auto;
    width: 40vw;
    opacity: 0.5;
    margin-bottom: 30px;
  }

  .description {
    text-align: center;
    opacity: 0.5;
    color: white;
  }

  .heading {
    margin-left: 5px;
    display: flex;
    align-content: flex-start;
    opacity: 0.85;
    text-align: center;
    color: white;
  }

  .heading h1 {
    font-size: 28px;
  }


  #like {
    position: fixed;
    bottom: 0;
    right: -5vw;
  }

  #dislike {
    position: fixed;
   bottom: 0;
   left: -5vw;
  }

